@using X.PagedList.Mvc
@model X.PagedList.IPagedList<UserIndexViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Users</h1>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Username</th>
            <th>Phone NUmber</th>
            <th>Social Security Number</th>
            <th>Address</th>
        </tr>
    </thead>
    <tbody>
        @foreach (UserIndexViewModel user in Model)
        {
            <tr>
                <td>@user.Name</td>
                <td>@user.Username</td>
                <td>@user.PhoneNumber</td>
                <td>@user.SSN</td>
                <td>@user.Address</td>
                @if (User.IsInRole("Admin"))
                {
                    <td>
                        <a asp-action="Details" asp-route-id="@user.UserId">Details</a>
                        <a asp-action="Delete" asp-route-id="@user.UserId">Delete</a>
                        <a asp-action="Edit" asp-route-id="@user.UserId">Edit</a>
                    </td>
                }
                else
                {
                    <td>
                        <a asp-action="Details" asp-route-id="@user.UserId">Details</a>
                    </td>
                }
            </tr>
        }
    </tbody>
</table>

Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
