@using X.PagedList
@using X.PagedList.Mvc
@model IPagedList<FlightIndexViewModel>
@{
    ViewData["Title"] = "Index";
}

<h1>Flights</h1>

@using (Html.BeginForm("Index", "Flight", FormMethod.Get))
{
    <label>Search city: </label>
    @Html.TextBox("SearchString");
    <input type="submit" value="Search" />
}


<table class="table">
    <tr>
        <th>Destination City</th>
        <th>Departure City</th>
        <th>Departure Time</th>
        <th>Travel Time</th>
        <th>Plane Type</th>
        <th>Plane ID</th>
        <th>Captain Name</th>
        <th>Plane Capacity</th>
        <th>Business Class Capacity</th>
    </tr>
    @foreach (FlightIndexViewModel flight in Model)
    {
        <tr>
            <td>@flight.DestinationCity</td>
            <td>@flight.DepartureCity</td>
            <td>@flight.DepartureTime</td>
            <td>@flight.TravelTime hours</td>
            <td>@flight.PlaneType</td>
            <td>@flight.PlaneID</td>
            <td>@flight.CaptainName</td>
            <td>@flight.PlaneCapacity</td>
            <td>@flight.BusinessClassCapacity</td>
            @if (User.IsInRole("Admin"))
            {
                <td>
                    <a asp-action="Details" asp-route-id="@flight.FlightId">Details</a>
                    <a asp-action="Delete" asp-route-id="@flight.FlightId">Delete</a>
                    <a asp-action="Edit" asp-route-id="@flight.FlightId">Edit</a>
                </td>
            }
            else
            {
        <td>
            <a asp-action="Details" asp-route-id="@flight.FlightId">Details</a>
        </td>
            }
        </tr>
    }
</table>

Page @Model.PageNumber of @Model.PageCount
<div class="pages">
    @for (int i = 1; i <= Model.PageCount; i++)
    {
        <a asp-action="Index" asp-route-page="@i"><div class="page">@i</div></a>
    }
</div>